{% extends "supbase.html" %}
{% block titleBlock %}
72Bian/租房详情
{% endblock %}
{% block cssBlock %}
<style>
    .main {
        width: 70%;
    }

    .logobian {
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #detail-header {
        width: 100%;
        display: flex;
    }

    #detail-title {
        width: 70%;
        min-width: 500px;
        display: inline-block;
    }

    #wx-qr {
        width: 30%;
        min-width: 200px;
        display: inline-block;
        padding-left: 30px;
    }

    .logobian {
        color: #1CB0F6;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .location-look {
        font-size: 13px;
        color: gray;
    }

    #wx-qr img {
        width: 160px;
    }

    #wx-qr div {
        padding: 10px 0px 0px 25px;
    }

    #bigimg img {
        width: 100%;
        height: 348px;
    }

    #house-imgs {
        width: 60%;
        display: inline-block;
    }

    #house-describe {
        width: 35%;
        display: inline-block;
        margin-left: 10px;
    }

    .row-img {
        display: inline-block;
        margin: 0px 5px 0px 5px;
        width: 109px;
        height: 75px
    }

    .row-img img {
        width: 98%;
        height: 75px
    }

    .move {
        display: inline-block;
        height: 75px;
        width: 25px;
        background-color: #1CB0F6;
    }

    #imglist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }

    .move{
        display: block;
        font-size: 30px;
        text-align: center;
        padding-top: 12px;
        margin-bottom: auto;
    }

    .center {
        min-width: 444px;
    }

    .price {
        font-size: 30px;
    }

    .item-key {
        color: gray;
    }

    #house-describe ul li {
        margin-top: 20px;
    }

    .human {
        display: inline-block;
        margin-right: 10px;
    }

    .human img {
        width: 50px;
        margin: 0px 0px 10px 10px;
    }

    .phone {
        float: right;
        display: inline-block;
        background-color: #FF6542;
        font-size: 25px;
        text-align: center;
        height: 80px;
        width: 60%;
        margin: 10px 30px 0px 0px;
        color: white;
        padding-top: 20px;
    }

    #apartment-title {
        padding-bottom: 20px;
        margin-top: 30px;
        font-size: 30px;
        border-bottom: lightgray solid 1px;
    }

    #apartment-des li div {
        display: inline-block;
    }

    #apartment-des li .title {
        width: 10%;
        font-size: 14px;
        color: gray;
    }

    #apartment-des li .text {
        width: 80%;
    }

    #apartment-des li {
        margin: 20px 0px 20px 0px;
        display: flex;
    }
    .move:hover {
        cursor: pointer;
    }
    .imgcheck img {
        border: #1CB0F6 solid 2px;
        /* border: cornsilk solid 2px; */
    }
    .center ul li:hover {
        cursor: pointer;
    }
    .contact {
        padding-top: 10px;
    }
</style>
{% endblock %}
{% block contentBlock %}

<div class="container main">
    <div id="detail-header">
        <div id="detail-title">
            <p class="logobian">72bian->租房</p>
            <p class="location-look">72bian>租房查询>详情</p>
            <h4 class="title">{{ data.info.title }}</h4>
            <p class="location-look">{{ data.info.view_count }}<span>&nbsp;&nbsp;次浏览</span></p>
        </div>
        <div id="wx-qr">
            <img src="../../static/imgs/wxqr.jpg" alt="">
            <div>扫一扫，微信咨询</div>
        </div>
    </div>
    <div id="detail-info">
        <div id="house-imgs">
            <div id="bigimg">
                <img src="../../static/imgs/house3.jpg" alt="">
            </div>
            <div id="imglist">
                <div class="left move"><</div> 
                <div class="center">
                    <ul>
                        {% for img_url in data.info['house_img_urls'] %}
                            {% if loop.index==1 %}
                                <li class="row-img imgcheck"><img src={{ img_url }}></li>
                            {% else %}
                                <li class="row-img"><img src={{ img_url }}></li>
                            {% endif %}

                        {% endfor %}

                    </ul>
                </div>
                <div class="right move">></div>
            </div>
        </div>
        <div id="house-describe">
            <div class="des-price">
                <a class="price" style="color: red;">{{ data.info.price }}<span>元/月&nbsp;&nbsp;</span></a><span
                    class="pay-type">{{ data.info.pay_type }}&nbsp;&nbsp;</span>
                <a href="#">费用明细</a>
            </div>
            <ul>
                <li><span class="item-key">租凭方式：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.rent_type }}</span></li>
                <li><span class="item-key">房屋类型：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.house_type }}</span></li>
                <li><span class="item-key">朝向楼层：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.house_direction}}</span></li>
                <li><span class="item-key">所在小区：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.house_estate }}</span></li>
                <li><span class="item-key">所属区域：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.house_area }}区</span></li>
                <li><span class="item-key">详情地址：&nbsp;&nbsp;</span><span class="item-val">{{ data.info.house_address | safe }}</span></li>
            </ul>
            <div class="contact">
                <div class="human">
                    <img class="" src="../../static/imgs/timg.jpg">
                    <h4>{{ data.info.house_owner }}</h4>
                </div>
                <div class="phone">
                    {{ data.info.phone }}
                </div>
            </div>
        </div>
    </div>
    <div id="apartment-title">
        房源描述
    </div>
    <ul id="apartment-des">
        <li>
            <div class="title"><strong>小区介绍</strong></div>
            <div class="text">{{ data.info.get('house_decribe:') | safe }}</div>

        </li>

    </ul>
</div>
{% endblock %}

{% block scriptBlock %}
<script type="text/javascript">
    $(function() {
        $($(".menu li")[4]).addClass("active")
    })
    $("#bigimg img").attr("src", $(".imgcheck").attr("src"))
    // 切换图片
    $(".move").click(function() {
        var that = $(".imgcheck")
        if ($(this).hasClass("right")) {
            if ($(".center ul li").index(that[0]) != 3) {
                that.next().addClass("imgcheck")
                that.removeClass("imgcheck")
                $("#bigimg img").attr("src", $(".imgcheck img").attr("src"))
            }
            
        } else {
            if ($(".center ul li").index(that[0]) != 0) {
                that.prev().addClass("imgcheck")
                that.removeClass("imgcheck")
                $("#bigimg img").attr("src", $(".imgcheck img").attr("src"))
            }
        }
    })
    // 点击图片事件
    $(".center ul li").click(function() {
        $(".imgcheck").removeClass("imgcheck")
        $(this).addClass("imgcheck")
        $("#bigimg img").attr("src", $(".imgcheck img").attr("src"))
    })
</script>
{% endblock %}