{% extends "supbase.html" %}
{% block titleBlock %}
72Bian/租房查询
{% endblock %}
{% block cssBlock %}
<style>
    .main {
        width: 70%;
    }
    #searchdiv {
        width: 100%;
        display: flex;
        /* display: -webkit-flex; */
        /* position: relative; */
    }
    .logo-font {
        width: 35%;
        color: #1CB0F6;
        min-width: 300px;
    }
    .logo-rent {
        font-size: 35px;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }
    .search-form {
        width: 65%;
    }
    .logo-site {
        font-size: 30px;
        border-left: 1px solid lightgray;
        margin-left: 10px;
        padding-left: 10px;
    }
    #search {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 12px;
    }
    #text-search {
        font-size: 13px;
        height: 35px;
        width: 80%;
        padding: 7px 0 7px 13px;
        border: 1px solid #ccc;
        color: #999;
        border-radius: 3px 0 0 3px;
        vertical-align: top;
    }
    #but-search{
        height: 35px;
        width: 15%;
        margin-left: -5px;
        background: #1CB0F6;
        color: #fff;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
        letter-spacing: 4px;
        font-family: "Microsoft YaHei","微软雅黑",Tahoma,Arial,simhei,Helvetica,sans-serif;
        border: 0;
        cursor: pointer;
        vertical-align: top;
    }
    #searchfilter {
        width: 100%;
        height: 240px;
        border: 1px solid lightgray;
        font-size: 13px;
    }
    .area {
        margin: 10px 2% 0 2%;
        display: flex;

    }
    .area .area-title {
        margin: 5px 3px 0px 0px;
    }
    .area .area-elems {
        width: 95%;
        line-height: 30px;
        border: 1px solid lightgray;
        padding-left: 10px;
    }
    .elem {
        margin-right: 18px;
    }
    .item {
        margin-left: 20px;
        border-top: 1px dashed #999999;
        margin-top: 15px;
        padding-top: 15px;
        width: 95%;
    }
    .item-title {
        margin-right: 8px;
        color: #999999;
    }
    .active {
        color: #1CB0F6;
    }
    #list {
        width: 100%;
        border-top: 3px solid #1CB0F6;
        margin-top: 20px;
        padding-top: 10px;
    }
    .sort {
        display: inline-block;
        margin-right: 25px;
    }
    #sort {
        float: right;
    }
    #sortdiv {
        font-size: 13px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .data {
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        border-bottom: 1px dashed lightgray;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .data div {
        display: inline-block;
    }
    .rent-info {
        width: 60%;
    }
    .rent-price {
        width: 20%;
    }
    .rent-img img{
        display: block;
        width: 132px;;
        height: auto;
    }
    .rent-detail span{
        display: inline-block;
        margin: 0px 10px 0px 10px;
    }
    .rent-info p{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .rent-title {
        margin-bottom: 15px;
    }
    .rent-price {
        text-align: center;
        line-height: 100px;
        font-size: 25px;
        color: red;
    }
</style>
{% endblock %}
{% block contentBlock %}
<div class="container main">
    <div id="searchdiv">
        <div class="logo-font">
            <a class="logo-rent" style="color:#1CB0F6">72Bian</a>
            <a class="logo-site">租房</a>
        </div>
        <div class="search-form">
            <form action="" id="search">
                <input id="but-search" type="button" name="搜索" value="搜索">
                <input type="text" id="text-search" placeholder="请输入小区名称、地址...">   
            </form>
        </div>
    </div>
    <div id="searchfilter">
        <div class="area">
            <div class="area-title"><span style="color: #999999">区域：</span></div>
            <div class="area-elems">
                <span class="item-elems" id="sp">
                    <a class="elem all active">全部</a>
                    <a class="elem">郑东新区</a>
                    <a class="elem">经开区</a>
                    <a class="elem">高新区</a>
                    <a class="elem">金水区</a>
                    <a class="elem">管城区</a>
                    <a class="elem">中原区</a>
                    <a class="elem">惠济区</a>
                    <a class="elem">二七区</a>
                    <a class="elem">中牟</a>
                    <a class="elem">荥阳</a>
                    <a class="elem">新郑</a>
                    <a class="elem">上街</a>
                    <a class="elem">新密</a>
                    <a class="elem">巩义</a>
                    <a class="elem">登封</a>
                    <a class="elem">航空港</a>
                    <a class="elem">郑州周边</a>
                </span>
            </div>
        </div>
        <div class="item price">
            <span class="item-title">租金：</span>
            <span class="item-elems">
                <a class="elem">全部</a>
                <a class="elem">500元一下</a>
                <a class="elem">500-800元</a>
                <a class="elem">800-1000元</a>
            </span>
        </div>
        <div class="item hometype">
            <span class="item-title">房型：</span>
            <span class="item-elems">
                <a class="elem">全部</a>
                <a class="elem">一室</a>
                <a class="elem">两室</a>
                <a class="elem">三室</a>
                <a class="elem">四室</a>
                <a class="elem">五室及以上</a>
            </span>
        </div>
        <div class="item rentype">
            <span class="item-title">类型：</span>
            <span class="item-elems">
                <a class="elem">全部</a>
                <a class="elem">整租</a>
                <a class="elem">合租</a>
            </span>
        </div>
    </div>
    <div id="list">
        <div id="sortdiv">
            <span class="sort">为你找到的租房信息</span>
            <div id="sort" class="sort">
                <span>排序：</span><a class="sort">默认</a>
                <a class="sort">租金<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                <a class="sort">最新</a>
            </div>
        </div>
        <div id="listdiv">
            {% for info in data["info"] %}
                <ul>
                    <div class="data">
                        <div class="rent-img">
                            <a href="/rent/detail/{{ info["_id"] }}"><img src="{{ info["image_url"][0][:5] + ":" + info["image_url"][0][5:] }}" alt=""></a>
                        </div>
                        <div class="rent-info">
                            <a href = "/rent/detail/{{ info["_id"] }}"><h5 class="rent-title">{{ info["title"][0] }}</h5></a>
                            <p class="rent-detail">{{ info["huxing"] }}<span>|</span>{{ info["jianzumianji"] }}<span>|</span>{{ info["loucheng"] }}/{{ info["zongloucheng"] }}<span>|</span>{{ info["chuzufangshi"] }}</p>
                            <p class="rent-adress">{{ info["xiaoqu_name"][0] }}&nbsp;&nbsp;{{ info["dizhi"] }}</p>
                        </div>
                        <div class="rent-price">{{ info["money"] }}<strong>元/月</strong></div>
                    </div>
                </ul>
            {% endfor %}

            <div id="navigation"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptBlock %}
<script type="text/javascript">
    $(document).ready(function(){
        var $sp = $("#sp");
        $sp.delegate('a','click',function () {
            alert($(this).html())
            $.get("/rent/sort?local="+$(this).html(),
{#                 {'local':$(this).html()},#}
{#                alert($(this).html()),#}
{#                alert("2222"),#}
                function(data){
{#                alert("33333")#}
                    // 清空数据
                    $("#listdiv").html('');
{#                    alert("11111");#}
                    for (var i=0;i<data.data.info.length;i++){
                        var info = data.data.info[i];
                        var images = info["image_url"][0].split("//");
{#                        console.log(images);#}
                        var image_url = images[0] + "://" + images[1];
                        console.log(image_url)
                        console.log(info["_id"])
                        console.log(info["_id"])


{#                        img_url = info["image_url"][0]#}
                        var content = '<ul> <div class="data">';
                            content += '<div class="rent-img">';
                            content += '<a href="/rent/detail/'+info["_id"]+'"><img src="'+ image_url+'" alt=""></a></div>';
                            content += '<div class="rent-info"><a href = "/rent/detail/' +info["_id"] +'"><h5 class="rent-title">'+ info["title"][0]+'</h5></a>';
                            content += '<p class="rent-detail">'+ info["huxing"] +'<span>|</span>'+ info["jianzumianji"] +'<span>|</span>'+ info["loucheng"] +'/'+ info["zongloucheng"] +'<span>|</span>'+ info["chuzufangshi"] +'</p>';
                            content += '<p class="rent-adress">'+ info["xiaoqu_name"][0] +'&nbsp;&nbsp;'+ info["dizhi"] +'</p></div>';
                            content += '<div class="rent-price">'+ info["money"]+'<strong>元/月</strong></div>';
                            content += '</div></ul>';
{#                        content += '<a href="/news/'+news.id+'" class="news_pic fl"><img src="' + news.index_image_url + '?imageView2/1/w/170/h/170"></a>'#}
{#                        content += '<a href="/news/'+news.id+'" class="news_title fl">' + news.title + '</a>'#}
{#                        content += '<a href="/news/'+news.id+'" class="news_detail fl">' + news.digest + '</a>'#}
{#                        content += '<div class="author_info fl">'#}
{#                        content += '<div class="source fl">来源：' + news.source + '</div>'#}
{#                        content += '<div class="time fl">' + news.create_time + '</div>'#}
{#                        content += '</div>'#}
{#                        content += '</li>'#}
                        $("#listdiv").append(content)
                    }

                })
{#            alert(1111)#}
        })
        //每页显示的数目
        var show_per_page = 5; 
        //获取content对象里面，数据的数量
        var number_of_items = $('#listdiv').children().size();
        //计算页面显示的数量
        var number_of_pages = Math.ceil(number_of_items/show_per_page);
         
        //隐藏域默认值
        $('#current_page').val(0);
        $('#show_per_page').val(show_per_page);
         
        var navigation_html = '<a class="previous_link" href="javascript:previous();">上一页</a>';
        var current_link = 0;
        while(number_of_pages > current_link){
            navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a>';
            current_link++;
        }
        navigation_html += '<a class="next_link" href="javascript:next();">下一页</a>';
         
        $('#page_navigation').html(navigation_html);
         
        //add active_page class to the first page link
        $('#page_navigation .page_link:first').addClass('active_page');
         
        //隐藏该对象下面的所有子元素
        $('#content').children().css('display', 'none');
         
        //显示第n（show_per_page）元素
        $('#content').children().slice(0, show_per_page).css('display', 'block');
         
    });
     
    //上一页
    function previous(){
        new_page = parseInt($('#current_page').val()) - 1;
        //if there is an item before the current active link run the function
        if($('.active_page').prev('.page_link').length==true){
            go_to_page(new_page);
        }
         
    }
    //下一页
    function next(){
        new_page = parseInt($('#current_page').val()) + 1;
        //if there is an item after the current active link run the function
        if($('.active_page').next('.page_link').length==true){
            go_to_page(new_page);
        }
         
    }
    //跳转某一页
    function go_to_page(page_num){
        //get the number of items shown per page
        var show_per_page = parseInt($('#show_per_page').val());
         
        //get the element number where to start the slice from
        start_from = page_num * show_per_page;
         
        //get the element number where to end the slice
        end_on = start_from + show_per_page;
         
        //hide all children elements of content div, get specific items and show them
        $('#content').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
         
        /*get the page link that has longdesc attribute of the current page and add active_page class to it
        and remove that class from previously active page link*/
        $('.page_link[longdesc=' + page_num +']').addClass('active_page').siblings('.active_page').removeClass('active_page');
         
        //update the current page input field
        $('#current_page').val(page_num);



    }   
</script>
{% endblock %}